@import 'tailwindcss';
@import '@flow/core/tailwind.no-reset.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';

body {
  font-family: 'Inter', sans-serif;
}
