@import 'tailwindcss';
@import '@flow/core/tailwind.no-reset.css';

:root {
  --color-blue-1: #fcfdff;
  --color-blue-2: #f5f9ff;
  --color-blue-3: #eaf3ff;
  --color-blue-4: #daebff;
  --color-blue-5: #c7e1ff;
  --color-blue-6: #b2d3ff;
  --color-blue-7: #98c1ff;
  --color-blue-8: #73a7ff;
  --color-blue-9: #0064ff;
  --color-blue-10: #0058e6;
  --color-blue-11: #015ceb;
  --color-blue-12: #0b2d6b;

  --btn-color-fill-brand-enabled: var(--color-blue-9);
  --btn-color-fill-brand-hover: var(--color-blue-10);

  --ease-tw-default: cubic-bezier(0.22, 0.61, 0.36, 1);
}
